*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    height: 100%;
    width: 800px;
    color: #fff;
    transition: 0.5s;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: deepskyblue;
}
h2{
    height: 100%;
    width: 800px;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    background:darkgray;
}
h1:hover{
    border-radius: 0px;
    border: solid 5px  red;
}
h2:hover{
    border-radius: 0px;
    border: solid 5px  red;
}
.hero{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}